# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - run: npm ci

    - name: Find and Replace
      uses: jacobtomlinson/gha-find-replace@0.1.2
      with:
        find: "<BrowserRouter>"
        replace: "<BrowserRouter basename=\"/${{ github.event.repository.name }}/\">"
        include: "src/components/app/app.jsx"
    - run: npm run build

    - name: Find and Replace
      uses: jacobtomlinson/gha-find-replace@0.1.2
      with:
        find: "<base href=\"/\">"
        replace: "<base href=\"/${{ github.event.repository.name }}/\">"
        include: "public/index.html"

    - run: git config user.name github-actions
    - run: git config user.email github-actions@github.com
    - run: git --work-tree public add --all
    - run: git commit -m "Automatic Deploy"
    - run: git push origin HEAD:gh-pages --force
